.message {
    display: block;
}

h1.login {
    text-align: center;
}

.flex-container {
    padding: 20px;
    justify-content: center;
    margin: auto;
    width: 80%;
    text-align: left;
}

.message a {
    display: block;
    line-height: 40px;
}

.message {
    margin-left: 150px;
    width: 50%;
}

/*
fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:2px solid rgb(5, 5, 5);
}
    
legend {
    color:rgb(7, 7, 7);
    font-weight:bold;
    margin-bottom: 10px;
}

*/
form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
form div + div {
    margin-top: 1em;
}
  
label {
    display: inline-block;
    width: 100%;
    text-align: left;
}
  
input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}
  
input:focus, textarea:focus {
    border-color: #000;
}
  
textarea {
    vertical-align: top;
    height: 5em;
}
  
.button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px; /* même taille que les étiquettes */
}
  
button {
    margin: auto;
}

.reception fieldset {
    width: 60%;
}

.verif {
    color: red;
    text-align: left;
}

div.lien {
    margin-top: 30px;
    margin-bottom: 30px;
}