<?xml version="1.0" encoding="UTF-8" ?>

<phpunit
    colors="true"
    stopOnFailure="false">
<!-- -->
    <testsuites>
        <testsuite name="app">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log
            type="coverage-html" target="./report/test"></log>
    </logging>

</phpunit>